<div class=" container-fluid d-flex align-items-center justify-content-center bg-light bg-gradient"
    style="padding-top: 78px;">
    <div class=" container-fluid rounded border my-3 bg-white bg-gradient">
        <div
            class="row bg-secondary h3 border-bottom rounded-top card-header p-3 d-flex justify-content-center align-items-centere">
            Prescrições Médicas
        </div>
        <h1 class="h1 d-flex justify-content-center" *ngIf="prescriptions?.length == 0">Não há prescrições Disponíveis</h1>
        <div *ngIf="prescriptions?.length > 0" class="row p-5 d-flex justify-content-evenly">
            <div class="row p-5 d-flex justify-content-evenly">
                <div *ngFor="let prescription of prescriptions" class="col-3 m-1 d-flex flex-column align-items-center border border-2 border-black rounded p-3 bg-light">
                    <pdf-viewer class="rounded border border-danger" src="{{api}}Resources/Prescriptions/{{prescription.url}}.pdf"
                        [render-text]="false" 
                        [original-size]="false"
                        [show-all]="false"
                        [page]="1"
                        [zoom]="1"
                        [fit-to-page]="true"
                        style="width: 400px; height: 580px">
                    </pdf-viewer>
                    <a href="{{api}}Resources/Prescriptions/{{prescription.url}}.pdf" target="_blank" download="{{prescription.url.substring(0, prescription.url.indexOf('_user'))}}" class="h5">{{prescription.url.substring(0, prescription.url.indexOf('_user')).replaceAll('_', ' ').replaceAll('-', '/')}}</a>
                    <div class="form-check form-switch">
                        <input [(ngModel)]="prescription.visibilidade" [value]="prescription.visibilidade" class="form-check-input" (change)="changeVisibility(prescription.id ,prescription)" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                        <label class="form-check-label" for="flexSwitchCheckDefault">Visível para médicos</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>