.margem {
    padding-top: 78px;
}

.showpassword {
    position: absolute;
    margin-left: 18%;
    margin-top: -25px;
}

@media (max-width: 800px) {
    .margem {
        padding-top: 900px;
    }

    .showpassword {
        position: absolute;
        margin-left: 60%;
        margin-top: -25px;
    }
}

.hover-img:hover {
    filter: blur(1px);
    cursor: pointer;
}

.edit-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 0 0 5px black;
}