.margem {
  margin-top: 130px;
}

.background-container {
  background-image: url(../../../../assets/sl_021921_40900_01.jpg); 
  background-size: 100%;
  justify-content: center;
}

@media (max-width: 913px) {
  .background-container {
    background-image: none;
    margin-top: 260px;
    justify-content: unset;
    align-items: unset;
  }
}

.showpassword {
  position: absolute;
  margin-left: 165px;
  margin-top: -27px;
}