<div class="container-fluid d-flex vh-100 justify-content-center align-items-center margem">
    <div class="card border rounded p-3 w-75 ">
        <form [formGroup]="form">
            <br>
            <div class="row p-3">
                <div class="form-group card-header col-12 d-flex align-items-end justify-content-between border-bottom">
                    <h3 class="ms-4">Perfil</h3>
                    <button (click)="toggledisabledEdit()" class="btn btn-success  border rounded p-1 mb-2">Editar <label class="fa fa-edit"></label></button>
                </div>
                <div class="col-lg-4 pt-1 d-flex align-items-center">
                    <div class="container-fluid ">
                        <div class="card mb-3">
                            <div class="card-header"></div>
                            <div class="d-flex align-self-center pt-3">
                                <a>
                                    <img
                                    src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRbezqZpEuwGSvitKy3wrwnth5kysKdRqBW54cAszm_wiutku3R"
                                    name="aboutme" width="120" height="120" class="rounded-circle">
                                </a>
                            </div>
                            <div class="card-body">
                                <div class="h5 text-bold text-center pb-1">Anthony Dionisio dos Santos</div>
                            </div>
                            <div class="card-footer"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="form-row">
                        
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label>Nome</label>
                                <input [disabled]="disabledEdit" formControlName="nome" type="text" class="form-control"/>
                            </div>
                            <div class="form-group col-sm-6">
                                <label>E-mail</label>
                                <input [disabled]="disabledEdit" formControlName="email" type="text" class="form-control"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="row">
                            <div class="form-group col-sm-3">
                                <label>RG</label>
                                <input [disabled]="true" type="text" class="form-control" />
                            </div>
                            <div class="form-group col-sm-3">
                                <label>CPF</label>
                                <input [disabled]="true" type="text" class="form-control" />
                            </div>
                            <div class="form-group col-sm-3">
                                <label>Data de Nascimento</label>
                                <input formControlName="nascimento" onkeyup="formatDate(this)" maxlength="8"
								class="form-control" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" bsDatepicker >
                            </div>
                            <div class="form-group col-sm-3">
                                <label for="sexo">Sexo</label>
                                <select formControlName="sexo" class="form-select" aria-label="">
                                    <option value="1">Masculino</option>
                                    <option value="2">Feminino</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label for="telefone">Telefone</label>
                                <input [disabled]="disabledEdit" formControlName="telefone"  type="text" class="form-control" id="telefone">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="senha">Senha</label>
                                <input [disabled]="disabledEdit" formControlName="senha"  type="{{ showPassword ? 'text' : 'password' }}" class="form-control" id="senha">
                                <label [ngStyle]="{'visibility': disabledEdit? 'hidden' : ''}" [ngClass]="{ 'fa-eye-slash' : showPassword, 'fa-eye' : !showPassword }" (click)="togglePasswordVisibility()" class="fa fa-eye showpassword"></label>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="confirmasenha">Confirme a Senha</label>
                                <input [disabled]="disabledEdit" formControlName="confirmasenha" type="{{ showConfirmPassword ? 'text' : 'password' }}" class="form-control" id="confirmaSenha">
                                <label [ngStyle]="{'visibility': disabledEdit? 'hidden' : ''}" [ngClass]="{ 'fa-eye-slash': showConfirmPassword,  'fa-eye' : !showConfirmPassword }" (click)="toggleConfirmPasswordVisibility()" class="fa fa-eye showpassword"></label>
                            </div>
                        </div>
                        <br>
            
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label for="cep">CEP</label>
                                <div class="d-flex">
                                    <input [disabled]="disabledEdit" formControlName="cep" type="text" class="form-control" id="cep">
                                    <button [disabled]="disabledEdit" (click)="searchAddress(form.get('cep').value)" class="btn btn-success mx-2 fa fa-search"></button>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="endereco">Endereço</label>
                                <input [disabled]="disabledEdit" formControlName="endereco" type="text" class="form-control" id="endereco">
                            </div>
                            <div class="form-group col-md-2">
                                <label for="numero">Número</label>
                                <input [disabled]="disabledEdit" formControlName="numero" type="text" class="form-control" id="numero">
                            </div>
                        </div>
            
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label for="cidade">Cidade</label>
                                <input [disabled]="disabledEdit" formControlName="cidade" type="text" class="form-control" id="cidade">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="estado">Estado</label>
                                <input [disabled]="disabledEdit" formControlName="estado" type="text" class="form-control" id="estado">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="complemento">Complemento</label>
                                <input [disabled]="disabledEdit" formControlName="complemento" type="text" class="form-control" id="complemento">
                            </div>
                        </div>
                        <br><br>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="d-flex justify-content-end" [ngStyle]="{'visibility': disabledEdit? 'hidden' : ''}">
                    <button class="btn btn-outline-secondary mr-auto border me-2">
                        Cancelar Alteração
                    </button>
                    <button class="btn btn-success ">
                        <!-- <span class="spinner-border spinner-border-sm mr-1"></span> -->
                        Salvar Alteração
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>