<div class=" vh-100 d-flex align-items-center background-container">

	<div class="bg-white rounded p-5 my-2 border">
		<div class="row">
			<h3 class="text-center">Cadastre-se</h3>
			<div class="col-md-8">
				<form class="p-1" style="width: 700px;" [formGroup]="form">
					<div class="row ">
						<div class="form-group col-md-6">
							<label for="nome">Nome {{userType != 'stablishment' ? '' : 'do Estabelecimento'}}</label>
							<input formControlName="nome" type="text" class="form-control"
								[ngClass]="{'is-invalid': f.nome.errors && f.nome.touched}" id="nome">
							<div *ngIf="f.nome.errors?.required" class="invalid-feedback">
								Nome é obrigatório.
							</div>
							<div *ngIf="f.nome.errors?.checkName" class="invalid-feedback">
								Insira seu nome completo.
							</div>
						</div>

						<div class="form-group col-md-6">
							<label for="email">Email</label>
							<input formControlName="email" type="email" class="form-control"
								[ngClass]="{'is-invalid': f.email.errors && f.email.touched}" id="input">
							<div *ngIf="f.email.errors?.required" class="invalid-feedback">
								E-mail é obrigatório.
							</div>
							<div *ngIf="f.email.errors?.email" class="invalid-feedback">
								Insira um e-mail válido.
							</div>
						</div>
					</div>

					<br>
					<div class="row" *ngIf="userType == 'stablishment'">
						<div class="form-group col-md-8">
							<label for="cnpj">CNPJ</label>
							<input formControlName="cnpj" (keyup)="format.formatCnpj(form, $event)" type="text"
								class="form-control" maxlength="18"
								[ngClass]="{'is-invalid': f.cnpj.errors && f.cnpj.touched}" id="rg">
							<div *ngIf="f.cnpj.errors?.required" class="invalid-feedback">
								CNPJ é obrigatório.
							</div>
							<div *ngIf="f.cnpj.errors?.minlength" class="invalid-feedback">
								Insira um CNPJ válido.
							</div>
						</div>

						<div class="form-group col-md-4">
							<label for="rg">Especialidade</label>
							<select formControlName="tipo" class="form-select" aria-label=""
								[ngClass]="{'is-invalid': f.tipo.errors && f.tipo.touched}">
								<option value="Clinica">Exames</option>
								<option value="Consultorio">Consultas</option>
							</select>
							<div *ngIf="f.tipo.errors?.required" class="invalid-feedback">
								Especialidade é obrigatório.
							</div>
						</div>
					</div>

					<div class="row" *ngIf="userType == 'patient' || userType == 'doctor' ">
						<div class="form-group col-md-3">
							<label for="rg">RG</label>
							<input (keyup)="format.formatRg(form, $event)" formControlName="rg" type="text"
								class="form-control" maxlength="12"
								[ngClass]="{'is-invalid': f.rg.errors && f.rg.touched}" id="rg">
							<div *ngIf="f.rg.errors?.required" class="invalid-feedback">
								RG é obrigatório.
							</div>
							<div *ngIf="f.rg.errors?.minlength" class="invalid-feedback">
								Insira um RG válido.
							</div>
						</div>
						<div class="form-group col-md-3">
							<label for="cpf">CPF</label>
							<input (keyup)="format.formatCpf(form, $event)" formControlName="cpf" type="text"
								class="form-control" maxlength="14"
								[ngClass]="{'is-invalid': f.cpf.errors && f.cpf.touched}" id="cpf">
							<div *ngIf="f.cpf.errors?.required" class="invalid-feedback">
								CPF é obrigatório.
							</div>
							<div *ngIf="f.cpf.errors?.minlength" class="invalid-feedback">
								Insira um CPF válido.
							</div>
						</div>

						<div class="form-group col-md-3">
							<label for="nascimento">Data de Nascimento</label>
							<input type="text" formControlName="nascimento" maxlength="8"
								class="form-control"
								[ngClass]="{'is-invalid': f.nascimento.errors && f.nascimento.touched}"
								[bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" readonly bsDatepicker>
							<div *ngIf="f.nascimento.errors?.required" class="invalid-feedback">
								Data de nascimento é obrigatório.
							</div>
						</div>

						<div class="form-group col-md-3">
							<label for="genero">Gênero</label>
							<select formControlName="genero" class="form-select" aria-label=""
								[ngClass]="{'is-invalid': f.genero.errors && f.genero.touched}">
								<option value="Masculino">Masculino</option>
								<option value="Feminino">Feminino</option>
							</select>
							<div *ngIf="f.genero.errors?.required" class="invalid-feedback">
								Gênero é obrigatório.
							</div>
						</div>
					</div>

					<br>

					<div class="row" *ngIf="userType == 'doctor'">
						<div class="form-group col-md-3 mt-md-4">
							<input disabled type="text" class="form-control text-align-center"
								style="text-align: center;" value="CRM-">
						</div>

						<div class="form-group col-md-2">
							<label for="crm">UF</label>
							<select formControlName="uf" class="form-select"
								[ngClass]="{'is-invalid': f.uf.errors && f.uf.touched}">
								<option *ngFor="let uf of ufs" value="{{uf}}">{{uf}}</option>
							</select>
							<div *ngIf="f.uf.errors?.required" class="invalid-feedback">
								UF é obrigatório.
							</div>
						</div>

						<div class="form-group col-md-3">
							<label for="crm">CRM</label>
							<input formControlName="crm" type="text" class="form-control" maxlength="6"
								[ngClass]="{'is-invalid': f.crm.errors && f.crm.touched}" id="crm">
							<div *ngIf="f.crm.errors?.required" class="invalid-feedback">
								CRM é obrigatório.
							</div>
							<div *ngIf="f.uf.errors?.minlength" class="invalid-feedback">
								Insira um CRM válido.
							</div>
						</div>

						<div class="form-group col-md-4">
							<label for="especialidade">Especialidade</label>
							<select formControlName="especialidade" class="form-select" aria-label="">
								<ng-container *ngIf="specialty == 'Consultorio'">
									<option *ngFor="let tipo of tipoConsultas" value="{{tipo}}">{{tipo}}</option>
								</ng-container>
								<ng-container *ngIf="specialty == 'Clinica'">
									<option *ngFor="let tipo of tipoExames" value="{{tipo.replaceAll(' ', '_')}}">
										{{tipo}}</option>
								</ng-container>
							</select>
							<div *ngIf="f.especialidade.errors?.required" class="invalid-feedback">
								Escolha uma especialidade.
							</div>
						</div>
					</div>

					<br>

					<div class="row">
						<div class="form-group col-md-4">
							<label for="telefone">Telefone</label>
							<input (keyup)="format.formatPhone(form, $event)" formControlName="telefone" type="text"
								class="form-control" maxlength="15"
								[ngClass]="{'is-invalid': f.telefone.errors && f.telefone.touched}" id="telefone"
								>
							<div *ngIf="f.telefone.errors?.required" class="invalid-feedback">
								Telefone é obrigatório.
							</div>
							<div *ngIf="f.telefone.errors?.minlength" class="invalid-feedback">
								Insira um Telefone válido.
							</div>
						</div>
						<div class="form-group col-md-4">
							<label for="senha">Senha</label>
							<input formControlName="senha" type="{{ showPassword ? 'text' : 'password' }}"
								class="form-control" [ngClass]="{'is-invalid': f.senha.errors && f.senha.touched}"
								id="senha">
							<label [ngClass]="{ 'fa-eye-slash' : showPassword, 'fa-eye' : !showPassword }"
								(click)="togglePasswordVisibility()" class="fa showpassword"></label>
							<div *ngIf="f.senha.errors?.required" class="invalid-feedback">
								Senha é obrigatório.
							</div>
							<div *ngIf="f.senha.errors?.minlength" class="invalid-feedback">
								A senha deve conter no mínimo 8 caracteres.
							</div>
						</div>
						<div class="form-group col-md-4">
							<label for="confirmasenha">Confirme a Senha</label>
							<input formControlName="confirmasenha"
								type="{{ showConfirmPassword ? 'text' : 'password' }}" class="form-control"
								[ngClass]="{'is-invalid': f.confirmasenha.errors && f.confirmasenha.touched}"
								id="confirmaSenha">
							<label [ngClass]="{ 'fa-eye-slash': showConfirmPassword,  'fa-eye' : !showConfirmPassword }"
								(click)="toggleConfirmPasswordVisibility()" class="fa fa-eye showpassword"></label>
							<div *ngIf="f.confirmasenha.errors?.required" class="invalid-feedback">
								Confirme a senha.
							</div>
							<div *ngIf="f.confirmasenha.errors?.mustMatch" class="invalid-feedback">
								As senhas não são iguais.
							</div>
						</div>
					</div>
					<br>

					<div class="row">
						<div class="form-group col-md-4">
							<label for="cep">CEP</label>
							<div class="row">
								<input formControlName="cep" type="text" class="col ms-2 form-control"
									[ngClass]="{'is-invalid': f.cep.errors && f.cep.touched}" id="cep"
									(keyup.enter)="searchAddress(f.cep.value)"
									(blur)="searchAddress(f.cep.value)">
								<span (click)="searchAddress(f.cep.value)" class="col-2 btn btn-success mx-2"><span
										class="fa fa-search"></span></span>
								<div *ngIf="f.cep.errors?.required" class="invalid-feedback">
									CEP é obrigatório.
								</div>
							</div>
						</div>
						<div class="form-group col-md-6">
							<label for="endereco">Endereço</label>
							<input formControlName="endereco" type="text" class="form-control"
								[ngClass]="{'is-invalid': f.endereco.errors && f.endereco.touched}" id="endereco">
							<div *ngIf="f.endereco.errors?.required" class="invalid-feedback">
								Endereço é obrigatório.
							</div>
						</div>
						<div class="form-group col-md-2">
							<label for="numero">Número</label>
							<input formControlName="numero" type="text" class="form-control"
								[ngClass]="{'is-invalid': f.numero.errors && f.numero.touched}" id="numero">
							<div *ngIf="f.numero.errors?.required" class="invalid-feedback">
								Número é obrigatório.
							</div>
						</div>
					</div>

					<div class="row">
						<div class="form-group col-md-4">
							<label for="cidade">Cidade</label>
							<input formControlName="cidade" type="text" class="form-control"
								[ngClass]="{'is-invalid': f.cidade.errors && f.cidade.touched}" id="cidade">
							<div *ngIf="f.cidade.errors?.required" class="invalid-feedback">
								Cidade é obrigatório.
							</div>
						</div>
						<div class="form-group col-md-4">
							<label for="estado">Estado</label>
							<input formControlName="estado" type="text" class="form-control"
								[ngClass]="{'is-invalid': f.estado.errors && f.estado.touched}" id="estado">
							<div *ngIf="f.estado.errors?.required" class="invalid-feedback">
								Estado é obrigatório.
							</div>
						</div>
						<div class="form-group col-md-4">
							<label for="complemento">Complemento</label>
							<input formControlName="complemento" type="text" class="form-control" id="complemento">
						</div>
					</div>
					<br>
					<div class="form-group">
						<div class="form-check">
							<input formControlName="termos" class="form-check-input " type="checkbox" id="gridCheck">
							<span class="form-check-label" for="gridCheck">
								Li e aceito os 
							</span> <a class="a" role="button" (click)="openTerms(terms)">Termos de uso</a>
							<div *ngIf="f.termos.errors?.required">
								Você deve aceitar os termos de uso.
							</div>
						</div>
					</div>
					<br>
					<button type="button" (click)="onSubmit()" class="btn btn-primary">Cadastrar</button>
				</form>
			</div>

			<div class="col-md-4 img-fluid d-lg-block d-none d-flex align-items-center"><img
					src="../../../../assets/doctor_consultation_02.png" width="406px" alt=""></div>
		</div>
	</div>
</div>

<ng-template #terms>
	<div class="modal-header">
		<button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
			<span aria-hidden="true" class="visually-hidden">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo, inventore earum, et adipisci sit ipsa in
		blanditiis eos placeat facilis fuga tempore aspernatur dignissimos dolorum eum sequi cupiditate temporibus eius?
		Nam ipsum velit eos, culpa impedit possimus? Unde animi illo dolore ex tempore id corporis iure sunt
		voluptatibus voluptatem pariatur similique explicabo, nihil doloremque. Iusto ut culpa eligendi consequuntur
		quo.
		Ipsum placeat quos id ex pariatur obcaecati? Quaerat, minus! Fuga expedita ex repellendus dolores, libero
		eveniet facere accusamus laudantium possimus, consequuntur atque magni accusantium quam alias. Voluptate maxime
		nostrum commodi.
		Laboriosam repudiandae a libero animi corporis voluptatibus unde autem atque? Accusamus quam numquam,
		consequuntur enim laboriosam eum cum illo itaque tenetur ab deserunt laudantium tempore eligendi eaque
		consequatur mollitia assumenda!
		Quasi, culpa? Facilis impedit minima, excepturi necessitatibus provident corrupti maiores soluta architecto
		repellat, consequuntur consequatur. Dolorem atque, placeat laudantium error recusandae aperiam tempora odio sint
		maxime dolorum illum ea accusantium.
		Debitis ullam optio totam consequuntur? Sapiente sint aut natus fugiat iure ut obcaecati voluptate sunt
		recusandae animi maiores sequi ad velit corrupti repellendus aspernatur possimus tenetur a, rerum dignissimos
		molestiae.
		Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae veritatis dolore ratione distinctio, modi
		neque quibusdam doloremque magnam ducimus laboriosam, quam nisi eligendi nam unde, vitae ipsum natus
		accusantium! Sit?
		Assumenda dolores maxime ullam, asperiores, repellat optio tempora nisi esse rem excepturi quae autem
		voluptatibus dicta, accusantium ipsam veritatis ut? Possimus sint, eveniet nesciunt non aliquid incidunt error
		architecto laudantium.
		Voluptas dolor tempora error hic ea consequuntur voluptatum explicabo qui, ut nisi iste dolore earum ullam odio
		eius adipisci a. Quod similique illum at accusamus aspernatur in facilis cum amet.
		Aut sequi quaerat eum nihil laboriosam fuga esse dolor ipsam, rem maiores soluta possimus exercitationem optio
		cumque cum consequatur, dicta atque vel voluptate? Dolor repellat unde ducimus veniam magnam provident?
		Obcaecati voluptate vitae dolorum, veritatis molestias facere earum in maiores optio quod quisquam. Quibusdam
		quasi explicabo dolor sint, saepe architecto consequuntur! Provident fuga facilis natus iusto hic architecto
		excepturi aliquid?
		Odit itaque quam eligendi at dignissimos repellat corrupti, id autem? Consequatur, recusandae eos? Voluptatem
		enim obcaecati corrupti laboriosam ullam architecto quos dolores autem odio, commodi totam cupiditate veniam
		accusantium sequi!
		Ratione mollitia consequatur ex nulla odio, facilis fugit? Perspiciatis cupiditate saepe minus, sed nobis libero
		quibusdam ipsam magni corrupti consequuntur facilis veritatis dolorum reiciendis adipisci nesciunt fugit neque
		optio laborum?
		Iure aperiam culpa voluptatibus corporis, iste cum cupiditate ducimus distinctio, nisi dolorum nostrum illum
		repudiandae officia, sint maiores corrupti. Quos cumque dignissimos voluptatum omnis libero minus natus dolorum
		alias temporibus.
		Quibusdam corporis tempora, cumque reprehenderit quo cupiditate aut, doloremque iure distinctio molestias esse
		minus, earum blanditiis molestiae? Rem illum nesciunt exercitationem nam natus ullam ipsam cumque culpa
		voluptate! Et, sint!
		Mollitia ullam laboriosam voluptatibus maiores natus ex reiciendis rem ea quidem. Quaerat iste earum maxime, aut
		corrupti nihil. Commodi voluptates expedita aperiam consectetur quos! Quaerat quos quibusdam ex veniam
		voluptatibus!
	</div>
</ng-template>