<div class="container margem">

  <div class="card rounded shadow-sm p-3">
    <!-- Em Aberto -->
    <tabset>
      <tab (selectTab)="page=1" heading="Em Aberto" *ngIf="func == 'getSchedulesByDoctorId'">
        <table class="table table-striped table-hover">
          <thead class="thead-dark">
            <tr>
              <th class="d-none d-md-table-cell">
              </th>
              <th>#</th>
              <th>Data</th>
              <th>Hora</th>
              <th class="d-none d-md-table-cell">Especialidade</th>
              <th class="d-none d-md-table-cell">Tipo</th>
              <th>Valor</th>
              <th class="d-none d-md-table-cell">Status</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let schedule of openedSchedules.slice((page == 1 ? 0 : 12 * (page-1)), (12 * page))"
              style="cursor: pointer;">
              <td class="d-none d-md-table-cell"></td>
              <td>{{schedule.id}}</td>
              <td>{{schedule.dataConsulta.substring(0, 10)}}</td>
              <td>{{schedule.dataConsulta.substring(11, 16)}}</td>
              <td class="d-none d-md-table-cell">{{schedule.especialidade}}</td>
              <td class="d-none d-md-table-cell">{{schedule.tipo}}</td>
              <td>{{schedule.valor}}</td>
              <td class="d-none d-md-table-cell">{{schedule.status}}</td>
              <td>
                <button (click)="openModal(schedule, deleteModal)" type="button" class="btn btn-danger">
                  <i class="fa fa-trash"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <h4 *ngIf="openedSchedules.length == 0" class="d-flex justify-content-center">Nenhum agendamento encontrado!</h4>

        <div class="d-flex justify-content-center">

          <pagination class="mt-2" [boundaryLinks]="true" [totalItems]="openedSchedules.length" [itemsPerPage]="12"
            [(ngModel)]="page" pageBtnClass="btn" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;"
            lastText="&raquo;">
          </pagination>
        </div>
      </tab>
      <!-- Agendados -->
      <tab (selectTab)="page=1" heading="Agendados" *ngIf="scheduledSchedules">
        <table class="table table-striped table-hover">
          <thead class="thead-dark">
            <tr>
              <th class="d-none d-md-table-cell"></th>
              <th>#</th>
              <th>Data</th>
              <th>Hora</th>
              <th class="d-none d-md-table-cell">Especialidade</th>
              <th class="d-none d-md-table-cell">Tipo</th>
              <th class="d-none d-md-table-cell">{{func == 'getSchedulesByDoctorId' ? 'Paciente' : 'Doutor'}}</th>
              <th>Valor</th>
              <th class="d-none d-md-table-cell">Status</th>
            </tr>
          </thead>
          <tbody *ngIf="scheduledSchedules">
            <tr (click)="openModal(schedule, detailModal)"
              *ngFor="let schedule of scheduledSchedules.slice((page == 1 ? 0 : 12 * (page-1)), (12 * page))"
              style="cursor: pointer;">
              <td class="d-none d-md-table-cell"></td>
              <td>{{schedule.id}}</td>
              <td>{{schedule.dataConsulta.substring(0, 10)}}</td>
              <td>{{schedule.dataConsulta.substring(11, 16)}}</td>
              <td class="d-none d-md-table-cell">{{schedule.especialidade}}</td>
              <td class="d-none d-md-table-cell">{{schedule.tipo}}</td>
              <td class="d-none d-md-table-cell">{{func == 'getSchedulesByDoctorId' ? schedule.usuario.nome.split('
                ')[0] + ' ' + schedule.usuario.nome.split(' ')[schedule.usuario.nome.split(' ').length-1] :
                schedule.medico.nome.split(' ')[0] + ' ' + schedule.medico.nome.split(' ')[schedule.medico.nome.split('
                ').length-1]}}</td>
              <td>{{schedule.valor}}</td>
              <td class="d-none d-md-table-cell">{{schedule.status}}</td>
              <td>
                <button type="button" (click)="openModal(schedule, cancelModal);$event.stopPropagation();"
                  class="btn btn-danger">
                  <i class="fa fa-cancel"></i>
                </button>
              </td>
            </tr>
        </table>
        <h4 *ngIf="scheduledSchedules.length == 0" class="d-flex justify-content-center">Nenhum agendamento encontrado!</h4>
        <div class="d-flex justify-content-center">

          <pagination class="mt-2" [boundaryLinks]="true" [totalItems]="scheduledSchedules.length" [itemsPerPage]="12"
            [(ngModel)]="page" pageBtnClass="btn" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;"
            lastText="&raquo;">
          </pagination>
        </div>
      </tab>
      <!-- Fechados -->
      <tab (selectTab)="page=1" heading="Fechados" *ngIf="closedSchedules.length > 0">
        <table class="table table-striped table-hover">
          <thead class="thead-dark">
            <tr>
              <th class="d-none d-md-table-cell">
              </th>
              <th>#</th>
              <th>Data</th>
              <th>Hora</th>
              <th class="d-none d-md-table-cell">Especialidade</th>
              <th class="d-none d-md-table-cell">Tipo</th>
              <th class="d-none d-md-table-cell">{{func == 'getSchedulesByDoctorId' ? 'Paciente' : 'Doutor'}}</th>
              <th>Valor</th>
              <th class="d-none d-md-table-cell">Status</th>
            </tr>
          </thead>
          <tbody *ngIf="closedSchedules.length > 0">
            <tr (click)="openModal(schedule, detailModal)"
              *ngFor="let schedule of closedSchedules.slice((page == 1 ? 0 : 12 * (page-1)), (12 * page))"
              style="cursor: pointer;">
              <td class="d-none d-md-table-cell"></td>
              <td>{{schedule.id}}</td>
              <td>{{schedule.dataConsulta.substring(0, 10)}}</td>
              <td>{{schedule.dataConsulta.substring(11, 16)}}</td>
              <td class="d-none d-md-table-cell">{{schedule.especialidade}}</td>
              <td class="d-none d-md-table-cell">{{schedule.tipo}}</td>
              <td class="d-none d-md-table-cell">{{func == 'getSchedulesByDoctorId' ? schedule.usuario.nome.split('
                ')[0] + ' ' + schedule.usuario.nome.split(' ')[schedule.usuario.nome.split(' ').length-1] :
                schedule.medico.nome.split(' ')[0] + ' ' + schedule.medico.nome.split(' ')[schedule.medico.nome.split('
                ').length-1]}}</td>
              <td>{{schedule.valor}}</td>
              <td class="d-none d-md-table-cell">{{schedule.status}}</td>
            </tr>
          </tbody>
        </table>
        <h4 *ngIf="closedSchedules.length == 0" class="d-flex justify-content-center">Nenhum agendamento encontrado!</h4>
        <div class="d-flex justify-content-center">

          <pagination class="mt-2" [boundaryLinks]="true" [totalItems]="closedSchedules.length" [itemsPerPage]="12"
            [(ngModel)]="page" pageBtnClass="btn" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;"
            lastText="&raquo;">
          </pagination>
        </div>
      </tab>
    </tabset>

    <!-- Filtro -->
    <!-- <div class="d-flex">
      <div class="flex-fill pr-3">
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <div class="input-group-text">Filtro: </div>
          </div>
          <input type="text" class="form-control" placeholder="Dia">
        </div>
      </div>
      <div>
        <a class="d-flex btn btn-outline-primary" routerLink="/eventos/detalhe">
          <i class="fa fa-plus-circle my-1"></i>
          <b class="ml-1 d-none d-sm-block">Novo</b>
        </a>
      </div>
    </div> -->
    <!-- <h3>Filtro: {{filtroLista}}</h3> -->


    <div class="d-flex justify-content-center">

    </div>

  </div>

  <ng-template #deleteModal>
    <div class="modal-header d-flex text-align-center justify-content-center">
      <h5 class="h5">Aviso</h5>
    </div>
    <div class="modal-body text-center">
      <p>Deseja excluir a agenda do dia {{selectedSchedule.dataConsulta.substring(0, 10)}} -
        {{selectedSchedule.dataConsulta.substring(11, 16)}}?</p>
      <button type="button" class="btn btn-default ms-1" (click)="confirm('deleteSchedule')">Sim</button>
      <button type="button" class="btn btn-primary ms-1" (click)="decline()">Não</button>
    </div>
  </ng-template>

  <ng-template #cancelModal>
    <div class="modal-header d-flex text-align-center justify-content-center">
      <h5 class="h5">Aviso</h5>
    </div>
    <div class="modal-body text-center">
      <p>Deseja Cancelar a agenda do dia {{selectedSchedule.dataConsulta.substring(0, 10)}} -
        {{selectedSchedule.dataConsulta.substring(11, 16)}}?</p>
      <button type="button" class="btn btn-default ms-1" (click)="confirm('cancelSchedule')">Sim</button>
      <button type="button" class="btn btn-primary ms-1" (click)="decline()">Não</button>
    </div>
  </ng-template>

  <ng-template #detailModal>
    <div class="modal-header d-flex justify-content-center">
      <h5 class="h5">Detalhes</h5>
      <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="details-section">
        <div class="row">
          <div class="col-md-3">
            <h6>Data</h6>
            <p>{{ selectedSchedule.dataConsulta.substring(0, 10) }}</p>
          </div>
          <div class="col-md-3">
            <h6>Hora</h6>
            <p>{{ selectedSchedule.dataConsulta.substring(11, 16) }}</p>
          </div>
          <div class="col-md-3">
            <h6>Tipo</h6>
            <p>{{ selectedSchedule.tipo }}</p>
          </div>
          <div class="col-md-3">
            <h6>Especialidade</h6>
            <p>{{ selectedSchedule.especialidade }}</p>
          </div>
        </div>
      </div>
      <hr>
      <div class="details-section">
        <div class="row">
          <div class="col-md">
            <h6>Valor</h6>
            <p>{{ selectedSchedule.valor }}</p>
          </div>
          <div class="col-md">
            <h6>Forma de pagamento</h6>
            <p>{{ selectedSchedule.pagamento }}</p>
          </div>
          <div class="col-md">
            <h6>Status do pagamento</h6>
            <p>Aprovado</p>
          </div>
          <div class="col-md d-flex align-items-center" *ngIf="">
            <!-- ali no ngIf tem q adicionar uma condicional de se o status do pagamento for diferente de Aprovado -->
            <button class="btn btn-default btn-success">Efetuar Pagamento</button>
          </div>
        </div>
        <div class="row">
        </div>
      </div>
      <hr>
      <div class="details-section">
        <div class="row">
          <div class="col-md-4">
            <h6>Nome do {{ func == 'getSchedulesByDoctorId' ? 'Paciente' : 'Doutor' }}</h6>
            <p>
              {{
              func == 'getSchedulesByDoctorId'
              ? selectedSchedule.usuario.nome.split(' ')[0] + ' ' + selectedSchedule.usuario.nome.split('
              ')[selectedSchedule.usuario.nome.split(' ').length - 1]
              : selectedSchedule.medico.nome.split(' ')[0] + ' ' + selectedSchedule.medico.nome.split('
              ')[selectedSchedule.medico.nome.split(' ').length - 1]
              }}
            </p>
          </div>
          <div class="col-md-3" *ngIf="func == 'getSchedulesByDoctorId'">
            <h6>Idade</h6>
            <p>{{ getAge(selectedSchedule.usuario.nascimento) }}</p>
          </div>
          <div class="col-md-3" *ngIf="func != 'getSchedulesByDoctorId'">
            <h6>Estabelecimento</h6>
            <p>{{ selectedSchedule.estabelecimento.nome.split(' ')[0] + ' ' +
              selectedSchedule.estabelecimento.nome.split(' ')[selectedSchedule.estabelecimento.nome.split(' ').length -
              1] }}</p>
          </div>
          <div class="col-md-5" *ngIf="func != 'getSchedulesByDoctorId'">
            <h6>Endereço</h6>
            <div class="row">
              <p>
                {{ selectedSchedule.estabelecimento.endereco.split('\\')[1].split(' - ')[0]}} -
                {{selectedSchedule.estabelecimento.endereco.split('\\')[2]}}
              </p>
            </div>
            <div class="row">
              <p>
                {{ selectedSchedule.estabelecimento.endereco.split('\\')[0]}}, {{
                selectedSchedule.estabelecimento.endereco.split('\\')[1].split(' - ')[1]}} - {{
                selectedSchedule.estabelecimento.endereco.split('\\')[4]}}
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="details-section" *ngIf="func == 'getSchedulesByDoctorId'">
        <div class="row" *ngIf="selectedSchedule.status != 'Cancelado'">
          <hr>
          <div class="col-md-6">
            <h6>Prescrições do Paciente</h6>
            <a class="row ms-1" *ngFor="let prescription of selectedSchedule.prescricoes" target="_blank" href="{{api}}Resources/Prescriptions/{{prescription.url}}.pdf" download="{{prescription.url.substring(0, prescription.url.indexOf('_user'))}}">{{prescription.url.substring(0, prescription.url.indexOf('_user')).replaceAll('_', ' ').replaceAll('-', '/')}}</a>
            <p *ngIf="selectedSchedule.prescricoes?.length == 0">Não há prescrições Disponíveis</p>
          </div>
        </div>
        <div class="row">
          <div>
            <ng-container *ngIf="selectedSchedule.status != 'Cancelado'">
              <hr>
              <ng-container *ngFor="let archive of archives; let i = index">
                <div class="row">
                  <div class="col-md-6">
                    <h6>Anexar Arquivo</h6>
                    <input type="file" accept="application/pdf" (change)="onFileChange($event, i)">
                  </div>
                  <div class="col-md-6 ">
                    <div class="row d-flex justify-content-end align-items-center">
                      <div
                        *ngIf="i != archives.length-1 && selectedSchedule.status == 'Encerrado' && (archive.proposito && archive.proposito != 'Pedido' || archive.proposito == 'Pedido' && archive.tipoExame) "
                        class="col-md ">
                        <div class="me-3">
                          <button (click)="uploadFile(archive)"
                            class="btn btn-default btn-success">Enviar
                            Arquivo</button>
                        </div>
                      </div>
                      <div *ngIf="i != archives.length-1" class="col-md ">
                        <div class="me-3  d-flex justify-content-end"><button (click)="deleteFile(i)" class="btn btn-default btn-danger"><i
                              class="fa fa-x"></i></button></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row" *ngIf="archive.arquivo">
                  <div class="col-md-6">
                    <h6>Tipo de arquivo</h6>
                    <select (change)="archive.tipoExame = undefined" [(ngModel)]="archive.proposito" class="form-select"
                      aria-label="">
                      <option value="Receita">Receita</option>
                      <option value="Pedido">Pedido Médico</option>
                      <option value="Resultado">Resultado de Exame</option>
                    </select>
                  </div>
                  <div class="col-md-6" *ngIf="archive.proposito == 'Pedido'">
                    <h6>Tipo de Exame</h6>
                    <select [(ngModel)]="archive.tipoExame" class="form-select" aria-label="">
                      <option *ngFor="let tipo of tipoExames" value="{{tipo}}">{{tipo}}</option>
                    </select>
                  </div>
                </div>
                <hr *ngIf="archive.arquivo != undefined">
              </ng-container>
            </ng-container>
          </div>
        </div>
        <div *ngIf="selectedSchedule.status == 'Agendado'" class="row d-flex justify-content-end">
          <div class="col-md-4 d-flex justify-content-end">
            <button [disabled]="confirmStatus" (click)="endSchedule()" class="btn btn-default btn-success me-3"><span
                [ngStyle]="{'visibility': confirmStatus ? '' : 'hidden'}"
                class="spinner-border spinner-border-sm me-2"></span>Encerrar Agendamento</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer"></div>
  </ng-template>
</div>