<div class="vh-100 container-fluid d-flex  justify-content-center" style="padding-top: 78px;">
    <div class=" container-fluid rounded border bg-white bg-gradient">
        <div class="row">
            <div class="col-1"></div>
            <img  class="col d-flex flex-column  justify-content-center" src="../../assets/flexhealth-total-sem-fundo.png" alt="">
            <div class="col d-flex flex-column  justify-content-center">
                <h2>Simplificando</h2>
                <h2>sua Saúde</h2>
                <p class="mt-3 texto">O FlexHealth é uma plataforma que tem como objetivo auxiliar os usuários a encontrarem clínicas e consultórios especializados para marcação de exames e consultas. Trata-se de um software desenvolvido para tornar mais fácil e prático o acesso aos serviços de saúde.</p>
                <button class="button-header mt-3" [routerLink]="['/register', 'patient']">Cadastre-se</button>
            </div>
            <div class="col-2"></div>
        </div>
        <div class="row">
            <p class="col text-end estab">Deseja cadastrar seu estabelecimento em nosso sistema? <a class="link" [routerLink]="['/register', 'stablishment']">Clique aqui.</a></p>
            <div class="col-1"></div>
        </div>
    </div>
</div>
